<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Welcome to Home Service Chatbot!</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap"
        rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="assets/css/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
    <!-- Mashead header-->
    <header class="masthead hero5-section-area">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <!-- Mashead text-->
                    <div class="mb-5 mb-lg-0 text-center text-lg-start">
                        <h1 class="display-1 lh-1 mb-3 text-white">Welcome to Home Service Chatbot!</h1>
                        <p class="lead fw-normal text-white">Your personal assistant for posting and finding jobs.</p>

                        <small class=" fw-normal  text-white mb-3">Join our WhatsApp chatbot and start requesting services today!</small>
                        <div class="d-flex flex-column flex-lg-row align-items-center mt-3">
                            <a href="https://wa.me/+15556203184"  target="_blank" class="header-btn9">Join Chatbot  💬</i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="hero-images-area">
                        <div class="imges">
                            <img src="assets/img/header-img8.png" alt="" data-aos="zoom-in" data-aos-duration="1000" class="aos-init aos-animate">
                        </div>
                        <div class="imges1">
                            <img src="assets/img/header-bg6.png" alt="">
                        </div>
                        <div class="auhtor-images">
                            <div class="img1">
                                <img src="assets/img/qr.png" alt="" class="qr aniamtion-key-2">
                                <img src="assets/img/sound-icons3.svg" alt="" class="sound-icons3 aniamtion-key-1">
                                <img src="assets/img/lite-icons2.svg" alt="" class="lite-icons2 aniamtion-key-1">
                                <img src="assets/img/elements11.svg" alt="" class="elements11">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Features section-->
    <section class="service5-section-area sp1" id="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 m-auto">
                    <div class="service-header text-center heading10">
                        <h4 class="display-1 lh-1 mb-3 ">How It Works</h4>
                        <p class="lead fw-normal ">Interact with our chatbot via WhatsApp to post or find jobs easily. </p>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-duration="800">
                <div class="service-author-boxarea">
                    <h4>01</h4>
                    <div class="space40"></div>
                    <div class="content-area">
                        <h5>Save Our WhatsApp Number</h5>
                        <p>To start, save our WhatsApp number:  +15556203184 to your phone's contacts. This allows you to begin and continue conversations with our Home Service Chatbot seamlessly.</p>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-duration="1000">
              <div class="service-author-boxarea box2">
                  <h4 class="text-white">02</h4>
                  <div class="space40"></div>
                  <div class="content-area">
                      <h5 class="text-white">Send a Message</h5>
                      <p class="text-white">Send a message with the text 'Hi' to our contact. This initial message will automatically register you in our system and activate the chatbot. You'll receive a welcome message and further guidance.</p>
                  </div>
              </div>
          </div>
    
          <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-duration="1200">
            <div class="service-author-boxarea box3">
                <h4>03</h4>
                <div class="space40"></div>
                <div class="content-area">
                    <h5>Use Chatbot Commands</h5>
                    <p>Use commands like "<b>Post Job</b>" to start posting a new job, "<b>Find Job</b>" to search for available jobs, or "<b>Help</b>" for assistance and instructions. 
                        The chatbot guides you through each process step-by-step.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
          <div class="space30"></div>
          <div class="btn-area1 text-center aos-init" data-aos="fade-up" data-aos-duration="1200">
            <a href="https://wa.me/+15556203184" class="header-btn11">Get Started Now 💬<i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="bg-black text-center py-5">
        <div class="container px-5">
            <div class="text-white-50 small">
                <div class="mb-2">&copy; 2024 Home Service Chatbot. All rights reserved.</div>
                
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>